

<% @posts.each do |p| %>
  <p><%= p.user.full_name %></p>
  <p><%= p.content %></p>
  <p><%= p.formatted_date %></p>
  <%= link_to "Comments (#{p.comments.count})", post_path(p), class: "btn btn-primary btn-sm" %>
  <% if p.user == current_user %>
    <%= link_to "Delete", p, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-primary delete btn-sm' %>  
  <% end %>
<% end %>